/*================ Featured Collection ================*/

@media only screen and (max-width: 749px) {

	.grid-view-item__image {

		+ .buy-btn-overlay {
			display: none;
		}

	}

} 

@media only screen and (min-width: 750px) {

	.product-card {
		
		&:hover {
			.product-card__image-wrapper {
				opacity: 1;

				.grid-view-item__image {
					opacity: 0.8;

					+ .buy-btn-overlay {

						display: block;						

						&:hover {

							background: #555555;

							+ .buy-btn-overlay {
								display: block;
							}

						}
					}

					
				}
			}

		}

		.grid-view-item__image {

			+ .buy-btn-overlay {
				position: absolute;
				transform: translate(-50%,-50%);
				top: 50%;
				left: 50%;
				background: black;
				color: white;
				display: none;
			}

		}

	}

} 

